.home-banner {
    background-color: gray;
    height: 450px;
    width: 100%;
    margin-top: 56px;

    .container {

        .block-title{
            padding-top: 100px;

            .title {
                
            }
        }
    }
}